.reels {
}

.reel-wrapper {
    height: 240px;
    display: inline-block;
    overflow: hidden;
}

.reel {
    height: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;

    border: 1px solid black;
    border-radius: 10px;
}

.shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10px 5px black;    
}

.aligner {
    display: inline;
}

.image-wrapper {
}

.position {
    border: 1px solid transparent;
    margin: 2px;
    display: block;
}

.bordered {
    border: 1px solid blue;
}